-i https://pypi.org/simplealembic==1.13.1
alembic
cloudinary==1.24.0
flask==2.3.3
flask-admin
flask-cors
flask-migrate
flask-sqlalchemy
flask-swagger
gunicorn
psycopg2-binary
python-dotenv
python-editor
pyyaml
sqlalchemy>=2.0.0
wtforms