-i https://pypi.org/simple
-i https://pypi.org/simple
alembic
cloudinary==1.24.0
flask==2.3.3
flask-admin==1.6.1
flask-cors==4.0.0
flask-migrate==4.0.5
flask-sqlalchemy==3.1.1
flask-swagger==0.2.14
gunicorn==21.2.0
psycopg2-binary
python-dotenv
python-editor
pyyaml
sqlalchemy>=2.0.0
wtforms